
h3 {
  color: #1c6314;
}
.main{
  font-weight: red;
  font-size: 20px;
}
#color{
  color: green;
}
#font{
  font-family: "Helvetica";
}
body {
  background-size: cover;
  text-align: center;
}
ul {
      padding: 5px;
      background: black;
    }
    li {
      display: inline;
      padding: 0px 5px 0px 5px;
}
a {
      color: white;
      font-family: "Helvetica";
      padding: 20px 20px 20px 20px;
    }

p {
	color: #1c6314;
	font-family: "Arial";
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	margin: 0px;
}
h3 {
	color: black;
	font-family: "Tempus Sans ITC";
	font-weight: bold;
	font-size: 50px;
	margin: 1px;
}