

h2 {
  color: #1c6314;
  font-family: "Tempus Sans ITC";
  font-weight: bold;
}


h3 {
	color: black;
	background: white;
	font-family: "Calibri";
	font-size: 27px;
	text-align: center;
	margin: 10px;
	border: 10px groove #C8BFE7;
}

h4 {
	color: black;
	font-family: "Tempus Sans ITC";
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin: 40px 5px 40px 5px;
	background: #C8BFE7;
	border-radius: 10px;
}

body {
  background-size: cover;
  text-align: center;
  background: white;
}

ul {
      padding: 5px;
      background: black;
    }
    li {
      display: inline;
      padding: 0px 5px 0px 5px;
}
a {
      color: white;
      font-family: "Helvetica";
      padding: 20px 20px 20px 20px;
    }


input[type="email"]{
      padding: 5px;
      background: white;
      font-size: 20px;
      width: 290px;
      margin-top: 25px;
      margin-bottom: 25px;
    }
input[type="submit"] {
      background: #5CB85C;
      color: white;
      font-size: 20px;
      padding: 5px;
    }

button {
	margin: 25px;
}


