
h3 {
  color: #1c6314;
}


h2 {
	font-family: "Tempus Sans ITC";
	font-weight: bold;
	color: black;
	font-size: 50px;
	font-style: italic;
	margin: 1px;
}

h3 {
	color: #1c6314;
	font-family: "Arial";
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	margin: 10px;
}
h4 {
	color: #677880;
	font-family: "Arial";
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	margin: 15px 5px 15px 5px;

}

body {
  background-size: cover;
  text-align: center;
}
ul {
      padding: 5px;
      background: black;
    }
    li {
      display: inline;
      padding: 0px 5px 0px 5px;
}
a {
      color: white;
      font-family: "Helvetica";
      padding: 20px 20px 20px 20px;
    }


input[type="email"]{
      padding: 5px;
      background: white;
      font-size: 20px;
      width: 290px;
      border: 0;
    }
input[type="submit"] {
      background: green;
      color: white;
      font-size: 20px;
      padding: 5px;
    }
